<extend name="public/base" />
<block name="content">
    <div class="data-table" data-id="list" data-url="{:url('lists')}">
        <form class="layui-form inline-form">
            <div class="pull-left">
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-normal ajax-form" data-url="{:url('add')}"><i class="layui-icon">&#xe61f;</i> 新增</button>
                </div>
            </div>
            <div class="pull-right">
                <div class="layui-inline">
                    <input class="layui-input" name="keyword" placeholder="输入关键词搜索">
                </div>
                <div class="layui-inline">
                    <select name="status" lay-filter="data-table">
                        <option value="">全部分组</option>
                        <volist name="group" id="vo">
                            <option value="{$key}">{$vo}</option>
                        </volist>
                    </select>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn search"><i class="layui-icon">&#xe615;</i></button>
                </div>
            </div>
        </form>
        <div class="data">
            <table class="layui-hide" id="list"></table>
        </div>
    </div>
</block>
<block name="script">
    <!--操作-->
    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs ajax-form" href="{{ d.edit_url }}">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger ajax-get" confirm="1" href="{{ d.delete_url }}" title="删除">删除</a>
    </script>
    <script type="text/javascript">
    layui.use('lea', function() {
        var lea = layui.lea;
        $('.data-table').table([
            [
                { field: 'id', title: 'ID', width: 80, sort: true, align: 'center' },
                { field: 'title', title: '标题', align: 'left' },
                { field: 'name', title: '名称', align: 'left' },
                { field: 'group_name', title: '分组', align: 'center' },
                { field: 'type_name', title: '类型', align: 'center' },
                { field: 'sort', title: '排序', align: 'center' },
                {
                    field: 'lock',
                    title: '锁定',
                    align: 'center',
                    width: 100,
                    unresize: true,
                    templet: function(d) {
                        var ck = d.lock == 1 ? 'checked' : '';
                        return '<input type="checkbox" data-href="/admin/rbac/setStatus?id=' + d.id + '" lay-skin="switch" lay-filter="table-status" lay-text="启用|禁用" ' + ck + ' >';
                    }
                },
                { title: '操作', width: 170, templet: '#bar', fixed: "right", align: "center" }
            ]
        ], {
            page: false
        });
    })
    </script>
</block>