html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

button {
    background: transparent
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

strong {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    border: 0;
    max-width: 100%
}

html {
    line-height: initial
}

body {
    color: #333;
    font-size: 0.32rem;
}

.wrapper {
    width: 100%;
    background: #fff url(../image/bg.jpg) center bottom no-repeat;
    background-size: contain;
    position: relative;
}

.header {
    padding: 0.8rem 0;
}

.header p {
    text-align: center;
    font-size: 0.36rem;
}

.form {
    width: 100%;
    padding: 0 0.8rem;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 9;
}

.form .group {
    position: relative;
    width: 100%;

    padding: 0.3rem 0 0.24rem 0.24rem;
    background: #fff;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}

.form .group label {
    display: block;
    float: left;
    width: 0.44rem;
    height: 0.44rem;
    background-size: cover;
}

.form .input {
    margin-left: 0.68rem;
    border: none;
}

.form .input input {
    display: block;
    border: none;
    width: 100%;
    height: 0.44rem;
    line-height: 0.44rem;
    color: #333;
    font-size: 0.3rem;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #d8d8d8;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #d8d8d8;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #d8d8d8;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #d8d8d8;
}

.form .input input:focus {
    border: none;
}

.form .group .cancel {
    display: none;
    position: absolute;
    width: 0.44rem;
    height: 0.44rem;
    right: 0px;
    top: 0.3rem;
    background: url(../image/cancel.png) center center no-repeat;
    background-size: cover;
}

.form .group .sms {
    position: absolute;
    display: inline-block;
    height: 0.44rem;
    line-height: 0.44rem;
    right: 0px;
    top: 0.3rem;
    font-size: 0.26rem;
    color: #fff;
    background: #fd6363;
    padding: 0 0.1rem;
    border-radius: 0.08rem;
}

.form .group .pass {
    position: absolute;
    width: 0.44rem;
    height: 0.44rem;
    right: 0px;
    top: 0.3rem;
    background-size: cover;
}

.eye {
    background: url(../image/eye.png) center center no-repeat;
}

.uneye {
    background: url(../image/uneye.png) center center no-repeat;
}

.tel {
    background: url(../image/tel.png) center center no-repeat;
}

.verfiy {
    background: url(../image/verfiy.png) center center no-repeat;
}

.password {
    background: url(../image/password.png) center center no-repeat;
}

.user {
    background: url(../image/user.png) center center no-repeat;
}

.submit {
    box-sizing: border-box;
    padding: 0.6rem 0;
}

.submit a {
    display: inline-block;
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    font-size: 0.3rem;
    text-decoration: none;
    border-radius: 0.08rem;
    color: #fff;
    background: #fd6363;
}

.active {
    background: #d8d8d8 !important;
}
.success {
    width: 100%;
    padding: 40% 0.8rem 0 0.8rem;
    box-sizing: border-box;
}

.success p {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 0.59rem;
}

.success a {
    clear: both;
    margin-top: 0.85rem;
    display: inline-block;
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    font-size: 0.3rem;
    text-decoration: none;
    border-radius: 0.08rem;
    color: #fff;
    background: #fd6363;
}