body{
    background: #eee
}
.main {
    display: block;
    width: 1205px;
    height: 520px;
    margin: 20px auto;
    
    overflow: hidden;
}

.main .left {
    float: left;
    width: 800px;
    overflow: hidden;
}

.main .right {
    float: right;
    width: 400px;
    min-height: 100%;
}